<div class="container" ng-controller="change-password">
    <form class="form-horizontal" id="change-password-form" class="change-password-form" method="post" data-remote="true" action="/modify-password">
    	<input type="hidden" name="_csrf" value="<%= csrfToken %>">
    	<div class="form-group">
    		<label class="col-sm-2 control-label">Old password</label>
    		<div class="col-sm-6">
    			<div class="input-group">
    				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    				<input class="form-control" type="password" name="old_password"/>
    			</div>
    		</div>
    	</div>
    	<div class="form-group {{inputs.password.cssClass}}">
    		<label class="col-sm-2 control-label">New password</label>
    		<div class="col-sm-6">
    			<div class="input-group">
    				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    				<input class="form-control" type="password" ng-model="password" name="password" ng-change="validateData('password')"/>
    			</div>
    			<span class="glyphicon glyphicon-remove form-control-feedback ng-cloak" ng-show="inputs.password.hasError"></span>
    			<span class="glyphicon glyphicon-ok form-control-feedback ng-cloak" ng-show="inputs.password.isValid"></span>
    			<p class="help-block ng-cloak" ng-show="inputs.password.hasError">{{inputs.password.errorMsg}}</p>
    		</div>
    	</div>
    	
    	<div class="form-group {{inputs.confirmPassword.cssClass}}">
    		<label class="col-sm-2 control-label">Confirm password</label>
    		<div class="col-sm-6">
    			<div class="input-group">
    				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    				<input class="form-control" type="password" ng-model="confirmPassword" name="confirm_password" ng-change="validateData('confirmPassword')"/>
    			</div>
    			<span class="glyphicon glyphicon-remove form-control-feedback ng-cloak" ng-show="inputs.confirmPassword.hasError"></span>
    			<span class="glyphicon glyphicon-ok form-control-feedback ng-cloak" ng-show="inputs.confirmPassword.isValid"></span>
    			<p class="help-block ng-cloak" ng-show="inputs.confirmPassword.hasError">{{inputs.confirmPassword.errorMsg}}</p>
    		</div>
    	</div>
    	<div class="form-group">
    		<div class="col-sm-offset-2 col-sm-6">
    			<button type="submit" class="btn btn-action" ng-model="submit" ng-disabled="">Update</button>
    		</div>
    	</div>
    </form>
</div>