<div class="modal fade" id="forgot-password-modal" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h2 class="modal-title text-center">Password reset</h2>
         </div>
         <div class="modal-body">
            <% include forms/forgot-password %>
         </div>
      </div>
   </div>
</div>

