<% include partials/head %>
<% include partials/header %>

<div class="container" ng-controller="change-password">
	<div class="row">
		<div class="col-sm-12">
			<h1>Enter your new password</h1>
			<hr>
			<% include forms/change-password %>
		</div>
	</div>
</div>

<% include partials/footer %>
<% include partials/end %>