<% include partials/head %>
<% include partials/header %>

<div class="container">
	<div id="content">
		<h1>Recover your password</h1>
		<hr>
		<div class="row">
			<div class="col-sm-5 col-md-offset-1"> 
				<% include forms/forgot-password %>
			</div>
		</div>
	</div>
</div>


<% include partials/footer %>
<% include partials/end %>