<% include partials/head %>
<% include partials/header %>

<div class="container">
	<div id="content">
		<h1>Sign in</h1>
		<hr>
		<div class="row">
			<div class="col-sm-5 col-md-offset-1"> 
				<% include forms/login %>
			</div>
		</div>
		<div class="row top10">
			<div class="col-sm-5 col-md-offset-1"> 
				<p class="text-center">
					<strong>No account yet?</strong>
					<a href="/register">Sign up.</a>
				</p>
			</div>
		</div>
	</div>
</div>


<% include partials/footer %>
<% include partials/end %>