<% include partials/head %>
<% include partials/header %>

<div class="container" ng-controller="registration">
	<div class="row">
		<div class="col-sm-12">
			<h1>Sign Up</h1>
			<hr>
			<% include forms/register %>
			<hr/>
			<p class="text-center">
				<strong>Already have an account?</strong> <a data-toggle="modal" data-target="#login-modal">Sign in.</a>
			</p>
		</div>
	</div>
</div>

<% include partials/footer %>
<% include partials/end %>